h1 {
	font-family: baskerville;
	font-size: 50;
	letter-spacing: 0.4em;
	line-height: 80px;
	text-indent: 50px;
}

hr { 
	height: 2px; 
	border-style: solid;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 155px;
	text-indent: 35px;
}

.sidebar a {
	padding: 12px 14px 12px 22px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(0, 0, 0);
	display: block;
}

.sidebar a:hover {
	color: cornflowerblue;
}

.main {
	margin-left: 180px;
	padding: 20px;
}