* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: baskerville;
	font-size: 24px;
	scroll-behavior: smooth;
} 

body {
	background-color: #9C638D;
	color: #333;
}

strong {
	font-size: 22px;
}
p {
	color: white;
}
a {
	color: #FFA658;
}

.header-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: #9C638D;
}
.image-col {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	margin-top: 75px;
}

.image-size {
	height: auto;
	width: 300px;
	border: 1px solid #FFA658;
	flex-shrink: 0;
}

.image-text {
	color: white;
	font-size: 20px;
	max-width: 70%;
	line-height: 1.4;
	margin: 0;
}

.image-item {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	gap: 20px;
}

h1 {
	color: white;
	font-size: 35px;
	letter-spacing: 0.25em;
	text-align: left;
	padding: 17px 30px;
}

h2 {
	color: white;
	font-size: 35px;
}

hr {
	position: fixed;
	height: 2px; 
	line-height: 2px;
	border-style: solid;
	top: 120px;
	z-index: 10;
	width: 100%;
	color: white;
	left: 0;
}

section{
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

#about {
	background-image: url('/seesyyi04/docs/poppies.jpg');
	background-size: cover;
	background-position: center 10%;
	background-repeat: no-repeat;
}
#about h2 {
	color: white;
	font-size: 30px;
	text-decoration: underline;
	align-self: flex-start;
	white-space: nowrap;
	position: absolute;
	top: 160px;
	left: 50px;
	z-index: 5;
}
.intro-text {
	background-color: rgb(222, 222, 222, 0.75);
	padding: 12px;
	border-radius: 10px;
	max-width: 83%;
}
.intro-text p {
	color: #9C638D;
}

#projects {
	background-color:#9C638D;
	height: auto;
}

#contact {
	background-color: #9C638D;
	height: 87vh;
}

#projects h2, #contact h2 {
	color: white;
	font-size: 30px;
	text-decoration: underline;
	align-self: flex-start;
	position: absolute;
	top: 40px;
	left: 50px;
	z-index: 5;
}

nav {
	background-color: #9C638D;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: left;
	padding: 22px;
	z-index: 1000;
}
nav .container {
	text-align: center; 
}
nav .container ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
nav .container ul li {
	margin: 16px 10px;
}
nav .container ul li a {
	display: inline-block;
	padding: 10px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	letter-spacing: 0.05em;
	border-radius: 4px;
	transition: all 0.3s ease;
}
nav .container li.active a {
	color:#FFA658;
}  