* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: baskerville;
	font-size: 24px;
	scroll-behavior: smooth;
} 

body {
	background-color: #9C638D;
	color: #333;
}

.header-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: #9C638D;
}

h1 {
	color: white;
	font-size: 35px;
	letter-spacing: 0.25em;
	text-align: left;
	padding: 17px 30px;
}

section{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

#home {
	background-color: #9C638D;
}
#projects {
	background-color:#9C638D;
}
#contact {
	background-color: #9C638D;
}

nav {
	background-color: #9C638D;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: left;
	padding: 22px;
}
hr {
	position: fixed;
	height: 2px; 
	line-height: 2px;
	border-style: solid;
	top: 120px;
	z-index: 10;
	width: 100%;
	color: white;
	left: 0;
}
nav .container {
	text-align: center; 
}
nav .container ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
nav .container ul li {
	margin: 16px 10px;
}
nav .container ul li a {
	display: inline-block;
	padding: 10px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	letter-spacing: 0.05em;
	border-radius: 4px;
	transition: all 0.3s ease;
}
nav .container li.active a {
	color:#FFA658;
}  